
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Oswald:wght@500&display=swap');
@import 'bootstrap-icons/font/bootstrap-icons.css';


body{
    margin: 0;
    font-family: oswald;
    background-color: antiquewhite;
}
.content{
    display: grid;
    height: 100vh;
    grid-template-rows: 1.3fr 8fr;
    grid-template-columns: max(25vw,200px) 1fr;
    
}
.header{
    grid-row: 1/2;
    grid-column: 1/3;
    border-bottom: 0.01vw solid rgb(177, 174, 174);
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
}

.control{
    grid-row: 2/3;
    grid-column: 1/2;
    border-right: 0.01vw solid rgb(177, 174, 174);
    padding: 10px;
    font-size: 40px;
    margin-left: 10px;
    display: grid;
    grid-template-rows: 15vh 50vh 15vh;
}
.task-manager{
    grid-row: 2/3;
    grid-column: 2/3;
    padding: 2px;
}

.logo{
    display: flex;
    font-size: min(4vw,40px);
    align-items: center;
    color: #ca4726;
}
.quote{
    font-size: min(3vw,30px);
}

i{
    font-size: min(3vw,25px);
    cursor: pointer;
    color: black;
}

.add{
    height: 35px;
    background-color: aliceblue;
    opacity: 50%;
    width: 100%;
    border: 1px dashed black;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#popup-form{
    display: none;
    width: 100%;
}
fieldset{
    display: flex;
    flex-direction: column;
    width: min(100%,900px);
    background-color: #fff3d0;
    border: 1px solid rgb(177, 174, 174);
    border-radius: 10px;
}
input{
    border: none;
    background-color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
input:focus{
    outline: none;

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}
.features{
    display: flex;
    width: 100%;
    gap: 1%;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.features>div{
    border: 1px solid rgb(158, 156, 156);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 3px;
}
.options{
    display: flex;
    justify-content: flex-end;
    gap: 1%;
}
button{
    border: 1px solid rgb(158, 156, 156);
    outline:none;
    padding: 5px;
    cursor: pointer;
    width: 90px;
    border-radius: 4px;
    font-weight: 550;
}
.task{
    
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 22px;
    color: black;
    justify-content: space-between;
}
.task-structure{
    border-radius: 10px;
    background-color: #fcbf0e;
}
.check{
    height: 16px;
    width: 16px;
    background-color: whitesmoke;
    border: 1px solid rgb(158, 156, 156);
    border-radius: 50%;
}
.check:hover{
    transition: 0.3s;
    background-color: #03c4b1;
    cursor: pointer;
}
.desc{
    margin-left: 15px;
}
.due-date{
    height: 22px;
    width: 80px;
    background-color: white;
    border: 1px solid rgb(158, 156, 156);
    border-radius: 4px;
    opacity: 80%;
    font-size: 13px;
    text-align: center;
}
.task-manager{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.tasks{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.edit{
    width: 100%;
    background-color: #fff3d0;
    border-radius: 10px;
    display: none;
}
.edit>fieldset{
    width: 100%;
}

.inbox{
    grid-row: 1/2;
    grid-column: 1/2;
}
.project{
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 10px;
}
.project-bay{
    display: grid;
    grid-template-rows: 187px;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    overflow: auto;
}

.projectBox{
    box-sizing: border-box;
    height: 187px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid rgb(177, 174, 174);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: smaller;
    font-weight: 300;
}
