body{
    margin: 0;
}
.content{
    display: grid;
    height: 100vh;
    grid-template-rows: 1.3fr 8fr;
    grid-template-columns: 1fr 2fr;
    
}
.header{
    grid-row: 1/2;
    grid-column: 1/3;
    border-bottom: 0.01vw solid rgb(177, 174, 174);
}
.control{
    grid-row: 2/3;
    grid-column: 1/2;
    border-right: 0.01vw solid rgb(177, 174, 174);
}
.task-manager{
    grid-row: 2/3;
    grid-column: 2/3;
}